* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Khula", sans-serif;
}

html {
  font-size: 62.5%;
}

.contenedor {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#2f624a, #183528);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-testimonios {
  width: 95%;
  height: 90%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/fondo.jpg");
  background-size: cover;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.4);
  position: relative;
}

.header-testimonios {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.header-testimonios h3 {
  font-size: 2rem;
  color: #ccc;
  font-weight: 600;
}

.header-testimonios h1 {
  font-size: 5rem;
  color: #ccc;
  font-weight: 300;
  text-transform: uppercase;
}

.header-testimonios i {
  font-size: 1.6rem;
  color: rgb(255, 220, 62);
  margin: 0.5rem;
}

/* Estilos Testimonio */
.testimonios {
  width: 55%;
  height: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.1rem solid #fff;

  /* Propiedad para que se vea un solo slide */
  overflow: hidden;
}

.slider {
  height: 100%;
  width: 500%;
  display: flex;

  /* Este estilo es para la animación de pase de slide */
  transition: all 0.8s cubic-bezier(0, 0, 0, 1);
}

.slide {
  width: 20%;
  position: relative;
}

.slide-bg {
  width: 70%;
  height: 65%;
  background-color: #296a4e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-6deg);
  border-radius: 2rem;
  opacity: 0.7;
}

.slide-content {
  width: 70%;
  height: 65%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.slide i {
  font-size: 12rem;
  color: #296a4e;
  position: absolute;
}

.slide i:nth-child(1) {
  top: -20%;
  left: 10%;
}

.slide i:nth-child(2) {
  bottom: -20%;
  right: 10%;
}

.slide-img {
  width: 15rem;
  height: 16rem;
  border: 0.3rem solid rgba(0, 0, 0, 0.4);
  border-radius: 3rem 0 3rem 0;
}

.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem 0 3rem 0;
}

.slide-text {
  width: 70%;
}

.slide-text h3 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #111;
  margin-bottom: 1rem;
}

.slide-text p {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(30, 40, 35);
  margin-bottom: 1rem;
  line-height: 1.2;
  width: 35rem;
}

.controls i {
  width: 5rem;
  height: 5rem;
  background-color: #7b8584;
  opacity: 0.6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #444;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.controls i:nth-child(1) {
  left: 15%;
}

.controls i:nth-child(2) {
  right: 15%;
}

.puntos {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.puntos span {
  width: 1rem;
  height: 1rem;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
}

.puntos span.active {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
}
